[submodule "third_party/supercollider"]
	path = third_party/supercollider
	url = https://github.com/supercollider/supercollider.git
[submodule "third_party/clap"]
	path = third_party/clap
	url = https://github.com/free-audio/clap.git
[submodule "third_party/tiny-process-library"]
	path = third_party/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/pugl"]
	path = third_party/pugl
	url = https://github.com/lv2/pugl.git
[submodule "third_party/ImGuiColorTextEdit"]
	path = third_party/ImGuiColorTextEdit
	url = https://github.com/goossens/ImGuiColorTextEdit.git
[submodule "third_party/portable-file-dialogs"]
	path = third_party/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
